# NEENOPAL TASK 1

In [4]:
import numpy as np
import pandas as pd

In [18]:
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')

In [14]:
data1

            Order ID       Product ID  Qty               OrderProductCombo
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006-TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090-FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090-OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293-OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328-OFF-BI-10000343
...              ...              ...  ...                             ...
9473  US-2017-169551  OFF-PA-10004100    3  US-2017-169551-OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835    3  US-2017-169551-OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018    3  US-2017-169551-TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033    2  US-2017-169551-TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363    2  US-2017-169551-TEC-PH-10001363

[9478 rows x 4 columns]

In [8]:
data2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

# 1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer

In [32]:
data1['Oorder+product'] = data1['Order ID'] + '-' + data1['Product ID']
data2['Oorder+product'] = data2['Order ID'] + '-' + data2['Product ID']

missing_records = data1[~data1['Oorder+product'].isin(data2['Oorder+product'])]
number_of_missing_records = len(missing_records)
number_of_missing_records

507

# 2. How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [33]:
data1['Oorder+product'] = data1['Order ID'] + '-' + data1['Product ID']
data2['Oorder+product'] = data2['Order ID'] + '-' + data2['Product ID']

missing_records = data2[~data2['Oorder+product'].isin(data1['Oorder+product'])]
number_of_missing_records = len(missing_records)
number_of_missing_records

508

# 3. Find the Sum of the total Qty of Records missing in data1 but present in data2

In [36]:


missing_records_in_data2 = data2[~data2['OrderProductCombo'].isin(data1['OrderProductCombo'])]


sum_of_qty_missing_records = missing_records_in_data2['Qty'].sum()
sum_of_qty_missing_records

1956

# 4.Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [37]:
combined_data = pd.concat([data1, data2])
combined_data['OrderProductCombo'] = combined_data['Order ID'] + '-' + combined_data['Product ID']
total_unique_records = combined_data['OrderProductCombo'].nunique()
total_unique_records

9986